#buttom{
    display: block; 
}

.container button{
    width: 100px !important;
    height: 100px !important;
    
}

.container{
    display: flex;
}

#pouet {
    display: flex;
    justify-content: space-between;
}

.conexion form{
    display: flex;

}
.conexion form button{
    margin-top: 35px;
    height: 30px !important;
}