#buttom{
    display: block; 
}

.container button{
    width: 100px !important;
    height: 100px !important;
    
}

.container{
    display: flex;
}

#pouet {
    display: flex;
    justify-content: space-between;
}

.connexion form{
    display: flex;

}
.connexion form button{
    margin-top: 35px;
    height: 30px !important;
}

#tableau{
    display: block;
    
}

#tableau input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
}

h1{
    display: flex;
    justify-content: center;
}


#Ajout{
    display: grid;
    width: 100%;
}

.col-8 form{
    display: grid;
}
